@font-face {
  font-family: Qanelas;
  src: url("../fonts/QanelasSoft-Regular.otf") format("opentype");
}

@font-face {
  font-family: Qanelas;
  font-weight: 600;
  src: url("../fonts/QanelasSoft-Bold.otf") format("opentype");
}

@font-face {
  font-family: Qanelas;
  font-weight: 900;
  src: url("../fonts/QanelasSoft-ExtraBold.otf") format("opentype");
}

body {
  margin: 0;
  color: #000;
  font-family: "Qanelas", "proxima-nova", Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
}

a {
  color: #e8b42b;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

button {
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 1rem;
  font-weight: 600;
  background: #e8b42b;
  border: 2px solid #e8b42b;
  color: #fff;
  width: 10rem;
  height: 3.44rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: none;
  color: #000;
}

textarea,
input,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
  outline: none;
}

#hero {
  flex: 1;
  display: flex;
  background: url(../images/basket-baller.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hero > div {
  padding: 5rem;
  display: flex;
  flex: 1;
}

#hero svg {
  align-self: flex-end;
  width: 3rem;
  height: auto;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: url(../images/bg-pattern.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo-container svg {
  width: 5rem;
  height: auto;
}

.title {
  padding: 2rem;
}

.heading {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.sub-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  box-sizing: border-box;
}

.input-field {
  display: flex;
  align-items: center;
}

.input-label {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  border: 2px solid #000;
  padding: 1rem;
  margin: 0.5rem;
  color: #000;
  width: 100%;
  box-sizing: border-box;
}

.main-footer-copy {
  text-align: center;
  margin-top: 1rem;
  color: #9b9b9b;
}

.main-footer-logos {
  display: flex;
  justify-content: space-between;
}

.main-footer-logos svg {
  width: auto;
  height: 1.7rem;
  margin: 0.5rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #e8b42b;
}

.social a {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.social svg {
  width: auto;
  height: 1.5rem;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.links svg:first-of-type {
  width: auto;
  height: 1rem;
}

.links svg:last-of-type {
  width: auto;
  height: 3rem;
}

#form-feedback {
  text-align: center;
  margin-bottom: 1rem;
}

.spinner {
  border: 2px solid #9b9b9b;
  border-top: 2px solid #000;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.success {
  color: #090;
}

.failure {
  color: #f00;
}

.select-group {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.md-select-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  cursor: default;
  position: relative;
}

.md-select-icon {
  display: flex;
  align-items: center;
}

.md-select-component {
  margin: 0;
  position: absolute;
  top: 0;
  left: -2px;
  width: calc(100% + 4px);
  background: none;
  z-index: 1;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  border: 2px solid #e5e5e5;
  height: calc(100% - 2px);
}

.md-select-component-label {
  display: flex;
  align-items: center;
}

.md-select-component-item {
  padding: 1rem 12px;
  text-transform: capitalize;
  color: #000;
}

.material-icons {
  color: #bbb8b8;
}

#customer-page .wrapper {
  width: 70%;
}

.list-layout {
  flex: 1;
}

.list-header {
  background: #555;
  color: #fff;
  display: flex;
  font-weight: bold;
}

.list-header > div {
  padding: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-header > div:first-of-type {
  justify-content: flex-start;
}

.list-header > div:last-of-type {
  justify-content: flex-end;
}

.list-item {
  background: #ddd;
  display: flex;
}

.list-item > div {
  padding: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item > div:first-of-type {
  justify-content: flex-start;
}

.list-item > div:last-of-type {
  justify-content: flex-end;
}

.list-item:nth-child(even) {
  background: #ccc;
}

.checkbox-wrapper {
  display: flex;
  margin: 1rem 0;
}

input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox {
  margin-right: 0.5rem;
  position: relative;
}

.check-mark-wrapper {
  border: 2px solid #000;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark-wrapper svg {
  width: 20px;
  height: 20px;
  transition: opacity 0.18s cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  opacity: 0;
}

.checked svg {
  opacity: 1;
}

.checked .check-mark-wrapper {
  background: #000;
}
