@media only screen and (max-width: 640px) {
  body {
    flex-direction: column;
    height: auto;
  }

  header,
  main {
    padding: 1rem;
    align-items: center;
    text-align: center;
  }

  input {
    text-align: center;
    margin-bottom: 1rem;
  }

  footer {
    padding: 0;
  }

  #hero {
    height: 17rem;
    background-position: top left;
  }

  #hero > div {
    padding: 1rem;
  }

  #hero svg {
    width: 2rem;
  }

  #hero svg:first-child {
    display: unset;
  }

  .logo-container {
    display: none;
  }

  .form-wrapper {
    width: 100%;
  }

  .input-field {
    flex-direction: column;
  }

  .main-footer-logos img {
    margin: 5px;
  }

  main .wrapper {
    padding: 2rem;
  }

  .social {
    justify-content: space-between;
  }

  .social a {
    margin: 0;
  }

  .main-footer {
    width: 100%;
  }

  .main-footer-logos svg {
    height: 1rem;
  }
}
